{% extends 'auctions/layout.html'%}
{% block title%}
Happy Bidding!
{% endblock %}
{%block body %}
  <h2 style='color:limegreen; font-family: "Lucida Console", Courier, monospace;' >You bid on: {{title}}</h2>
  <h4 style='color:limegreen; font-family: "Lucida Console", Courier, monospace;
'>Congrats, You are the winner!</h4>
  <br>
  <h2 style='color:limegreen; font-family: "Lucida Console", Courier, monospace;'>Your bid:</h2>
  <h4 style='color:limegreen; font-family: "Lucida Console", Courier, monospace;'>Item - {{title}}</h4>
  <h4 style='color:limegreen; font-family: "Lucida Console", Courier, monospace;'>Amount -{{bid}}</h4>

{% endblock %}