{% extends "auctions/layout.html" %}
{% block title %}
Categories
{% endblock %}
{% block body %}
  <h1>Categories</h1>
  <div class='container'>
  <div class='row'>
    <div class='col-md-3 cat'><a  class='a' href="/category/Home">Home</a></div>
    <div class='col-md-3 cat'><a  class='a'href="/category/Mens_Fashion">Mens Fashion</a></div>
    <div class='col-md-3 cat'><a  class='a' href="/category/Womens_Fashion">Womens Fashion</a></div>
    </div>
    <div class='row'>
    <div class='col-md-3 cat'><a class='a' href="/category/Sports">Sports</a></div>
    <div class='col-md-3 cat'><a  class='a'href="/category/Electronics">Electronics</a></div>
    <div class='col-md-3 cat'><a  class='a'href="/category/Grocery">Grocery</a></div>
    </div>
   <div class='row'>
    <div class='col-md-3 cat'><a  class='a'href="/category/Others">Others</a></div>
  <div>
  </div>
{% endblock %}